*{
    margin: 0%;
    padding: 0%;
}
#mainDiv{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 250, 253);
}
input{
    width: 20rem;
    border: none;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgb(178, 178, 178);
}
button{
    /* width: 50%; */
    padding: 10px 40px 10px 40px;
    border-radius: 2rem;
    border: none;
    transform: scale(0.9);
}